<%= form_with(model: @review, id: 'new_review') do |form| %>
  <div id="error_explanation" style="margin-bottom:10px;"></div>
  
  <%= form.hidden_field :title, value: @movie.title %>
  <%= form.hidden_field :movie_id, value: @movie.id %>

  <div class="form-group">
    <p>
     Rating:<div id='star-rating'></div>
    </p>
  </div>
  
  <div class="form-group">
    <%= form.label :email %><br />
    <%= form.email_field :email, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= form.label :review %><br />
    <%= form.text_area :body, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">

  $('#star-rating').raty({
    path: '/assets',
    scoreName: 'review[rating]',
    score: 0 
  });

  $("#new_review").on("ajax:success", function(event) {
    $('#modal').modal('hide');
  }).on("ajax:error", function(event) {
    var data, ref, status, xhr;
    ref = event.detail, data = ref[0], status = ref[1], xhr = ref[2];
    errors = JSON.parse(xhr.responseText);
    count = Object.values(errors).length
    $("#error_explanation").append(count + ' errors prevented this Review from being saved.<br />')
    $.each(errors, function(field, messages) {
      $("#error_explanation").append('<span style="color:red;"> :<u>' + 
        field + ' ' + 
        $.map(messages, function(m) {
        return m + '</u></span>';
      }).join(' ') + '<br />');
    });
  });
</script>








