 <div class="card bg-light mb-3">
	<div class="row ">
		<div class="col-md-3">
			<div class="thumbnail">
				<div class="image"><%= link_to format_poster(movie_item, size: 2), movie_show_path(movie_item.id) %></div>
			</div>
		</div>
		<div class="col-md-9 px-3">
			<div class="card-block">
				<div class="card-body">
					<h4 class="card-title"><%= movie_item.title %></h4>
					<p class="card-sub-title mb-2 text-muted">Release date: <%= format_date movie_item.release_date %></p>
					<p class="card-sub-title mb-2 text-muted"><%= format_genre movie_item, style: 'button' %> </p>
					<hr>
					<p><%= link_to 'write a review', '#', style: 'text-decoration: underline;' %></p>
						<%= render partial: 'review_item', collection: @reviews %>
				</div>
			</div>
		</div>
	</div>
</div>