<%= @movie.inspect %>

<div class="page">
	<div class="content">
		<div class="card">	
			<div class="card-body">
				<div class="movie-content">
					<div class="row">
						<div class="col-md-6">
							<%= format_poster @movie, size: 4 %>
						</div>
						<div class="col-md-6">
							<h2 class="card-title"><%= @movie.title %></h2>
							<div class="movie-summary">
								<p class="card-text"><%= @movie.overview %></p>
								<ul class="movie-meta">
									<li><strong>Rating:</strong> <%= @movie.vote_average %></li>
									<li><strong>Length:</strong> <%= distance_of_time_in_words(@movie.runtime * 60) %></li>
									<li><strong>Category:</strong> <%= format_genre @movie.genres, style: 'list' %></li>
								</ul>
								<p><%=link_to 'back', root_path %></p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<style type="text/css">
	.content {
		padding: 30px;
	}

	.content .movie-content {
		padding: 30px;
	}

	.movie-meta {
		list-style: none;
		padding-left: 0px;
	}
</style>