<div class="review-list">
	<div class="container">
		<div class="row">
			<% @reviews.each do |review| %>
				<div class="col-sm">
					<div class="card" style="width: 54rem; margin-bottom: 10px;">
					  <div class="card-body">
					    <h5 class="card-title"><%= review.title %></h5>
					    <h6 class="card-title">reviewed on: <%= review.created_at.strftime("%b, %d %Y") %></h6>
					    <h6 class="card-subtitle mb-2 text-muted">by: <%= review.email %></h6>
					    <h6 class="card-subtitle mb-2 text-muted">rating: <%= generate_rating review.rating %> </h6>
					    <p class="card-text"><i>"<%= review.body %>"</i></p>
					  </div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
